# uploads
/src/backend/uploads/

tomcat/
target/
bin/
*.settings/
*.classpath
*.project
nbbuild/
dist/
nbproject/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
manifest.mf
build.xml
.idea/
*.iml
*.iws
*.ipr

.vscode/ 

private/
backup/
tmp/
temp/

*.class
*.pyc
*.exe

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.tar.gz

*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag


# dependencies
/node_modules
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# react-native
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
